body {
    margin: 10px;
    padding: 20px;
    display: grid;
}

h1 {
    text-align: center;
}
.gallery {
    margin: 5px;
    border: none;
    float: left;
    width: 180px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
