body {
    margin: 0;
    padding: 0;
    background-color: powderblue;
}

header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
}

.navbar {
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    float: right;
}
nav a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
}