body {
    margin: 10px;
    padding: 20px;
    background-image: url("https://source.unsplash.com/L6W9ZIQ5saM/1600x900");
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
.navbar {
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}

li {
    float: left;
}

.logo {
    position: relative;
    top: 20px;
    right: -40px;
    width: auto;
}
nav a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
nav a:hover {
    color: #FFD36A;
    text-shadow: 2px 2px 4px #3A3F47;
}
.container {
  width: auto;
  padding: 10px;
  margin: 10px;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.heading {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #3A3F47;
    font-size: 40px;
    letter-spacing: 1px;
    position: relative;
    top: 50px;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.heading_text {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    position: relative;
    top: 40px;
}

button {
  background-color: #FFD36A;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  position: relative;
  top: 40px;
}

button:hover {
    background-color: #3A3F47;
  }