body {
    margin: 10px;
    padding: 20px;
    background-color: #FFFFFF;
}

@font-face {
    font-family: star-rating;
    src : url('https://fontawesome.com/v5.15/icons/user-circle?style=regular');
    font-weight: normal;
    font-style: normal;
}

h1{
    color: #000000;
}
.review_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.review_box {
        background-color: #FFD36A;
        border-style: none;
        border-radius: 8px;
        width: 30%;
        margin: auto;
}

.avatar {
    content: url("user-circle-regular.svg");
    height: 50px;
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

.review_heading {
    height: 50px;
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
}



.checked {
    color: white;
  }


.review_text {
    padding: 10px;
}