* {
    box-sizing: border-box;
    }
    
    h1{
        color: #000000;
        text-align: center;
        font-family: 'Poppins', 'sans-serif';
    }
    .review_section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .review_box {
            background-color: #FFD36A;
            border-style: none;
            border-radius: 8px;
            width: 30%;
            height: 20%;
            margin: 50px;
    }
    
    h2 {
        text-align: center;
        display: flexbox;
        padding-right: 40px;
    }
    
    .checked {
        color: white;
      }
    
    
    .review_text {
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .stars {
        text-align: center;
        padding-right: 40px;
    }
    
    .avatar {
        content: url("user-circle-regular.svg");
        float: left;
        height: 20%;
        width: 20%;
        padding-top: 10px;
        padding-left: 10px;
    }

.back_button {
    text-align: center;
    padding: 60px;
}
  input[type=button] {
  background-color: #FFD36A;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}